build.md
.DS_Store
truth-from-proof.epub
tmp_cover.jpg

# Ignore .html files in website/ and all subdirectories
website/**/*.html

# Ignore .epub files in website/ and all subdirectories
website/**/*.epub
